<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cutety.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.cutety.domain.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="credit" property="credit" jdbcType="INTEGER" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="checkin_time" property="checkinTime" jdbcType="TIMESTAMP"/>
    <result column="active_code" property="activeCode" jdbcType="VARCHAR"/>
    <result column="status" property="status" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, email, phone_num, create_time, update_time, credit, avatar,
    type,checkin_time
  </sql>

  <select id="existUsername" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select count(*) from user where username=#{username,jdbcType=VARCHAR}
  </select>

  <select id="selectUserByUsername" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from user where username=#{username,jdbcType=VARCHAR}
  </select>

  <insert id="addUser" parameterType="com.cutety.domain.User" >
    insert into user (username, password,
      email, phone_num, create_time, 
      update_time, credit,
      type,avatar,active_code,status)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{phoneNum,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{credit,jdbcType=INTEGER},
      #{type,jdbcType=TINYINT},#{avatar,jdbcType=VARCHAR},#{activeCode,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR})
  </insert>

  <update id="addCredits" >
    update  user set credit=credit+#{points,jdbcType=INTEGER} where id=#{id,jdbcType=INTEGER}
  </update>

  <update id="updateCheckinTime">
    update user set checkin_time=#{checkinTime,jdbcType=TIMESTAMP} where id=#{userid,jdbcType=INTEGER}
  </update>

  <update id="activeUserByCode">
    update user set status='Y' where active_code=#{code}
  </update>

  <select id="ifUserIsActived" resultType="String">
    select status from user where id=#{#userid}
  </select>

  <update id="changePasswordByUsername">
    update user set password=#{password} where username=#{username}
  </update>
</mapper>